body {
background:url(lp.jpg);
text-align:center;
}	
div#principal {
background-color:rgba(192,192,192,0.5);
height:2000px;
width:1000px;
margin: 0 auto;
color:black;
}	

#principal h1 {
font-family:'pacifico' cursive
}
#principal a {
font:right;
float:right;

}
div#primeiro {
height:1000px;
width:350px;
float:left; 
}

#primeiro iframe {
height:auto; 
width:auto;
}

#segundo {
height:1000px;
width:650px;
float:right;
text-align:center;
}
#segundo img {
height:200px;
width:650px;
}	